/* line 27, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="http:"],
body a[href^="mailto:"],
body a[href^="http:"]:visited,
body a[href$=".pdf"],
body a[href$=".doc"],
body a[href$=".xls"],
body a[href$=".rss"],
body a[href$=".rdf"],
body a[href^="aim:"] {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
}
/* line 28, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="http:"] {
  background-image: url('/images/link_icons/external.png?1330284321');
}
/* line 29, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="mailto:"] {
  background-image: url('/images/link_icons/email.png?1330284321');
}
/* line 30, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="http:"]:visited {
  background-image: url('/images/link_icons/visited.png?1330284321');
}
/* line 31, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".pdf"] {
  background-image: url('/images/link_icons/pdf.png?1330284321');
}
/* line 32, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".doc"] {
  background-image: url('/images/link_icons/doc.png?1330284321');
}
/* line 33, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".xls"] {
  background-image: url('/images/link_icons/xls.png?1330284321');
}
/* line 35, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href$=".rss"],
body a[href$=".rdf"] {
  background-image: url('/images/link_icons/feed.png?1330284321');
}
/* line 36, ../../../../../../.rvm/gems/ruby-1.9.2-p290/gems/compass-0.11.5/frameworks/blueprint/stylesheets/blueprint/_link-icons.scss */
body a[href^="aim:"] {
  background-image: url('/images/link_icons/im.png?1330284321');
}
/* line 8, ../sass/link_icons.scss */
body a.noicon {
  background: transparent none !important;
  padding: 0 !important;
  margin: 0 !important;
}
/* line 12, ../sass/link_icons.scss */
body a#this-is-a-pdf-link {
  padding: 2px 22px 2px 0;
  margin: -2px 0;
  background-repeat: no-repeat;
  background-position: right center;
  background-image: url('/images/link_icons/pdf.png?1330284321');
}
