<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.perl.android.logviewer"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- Content Provider -->
        <provider 
            android:name=".provider.LogProvider"
            android:authorities="kr.perl.android.logviewer.provider.logprovider" />
        <!-- end of Content Provider -->

        <!-- Activities -->
        <activity
            android:name=".activity.ViewerActivity"
            android:label="@string/app_name"
            clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".activity.LogListActivity"
            android:label="@string/app_name"
            clearTaskOnLaunch="true">
        </activity>
        <!-- end of Activities -->

        <!-- Sample Activities -->
        <!-- end of Sample Activities -->
    </application>

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- end of permissions -->

    <!-- etc -->
    <support-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="4" />
    <!-- end of etc -->

</manifest> 
