<?xml version="1.0" encoding="utf-8"?>
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.perl.android.logviewer"
    android:versionCode="1"
    android:versionName="1.0">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">

        <!-- Content Provider -->
        <provider 
            android:name=".provider.LogProvider"
            android:authorities="kr.perl.provider.LogViewer.Log" />
        <provider 
        	android:name=".provider.SearchHistoryProvider"
            android:authorities="kr.perl.provider.LogViewer.SearchHistory" />
        <!-- end of Content Provider -->

        <!-- Activities -->
        <activity
            android:name=".activity.ViewerActivity"
            android:label="@string/activity_viewer"
            android:launchMode="singleTop"
            clearTaskOnLaunch="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.kr.perl.android.logviewer.log" />
            </intent-filter>

            <intent-filter>
            	<action android:name="android.intent.action.SEARCH" />
        	</intent-filter>

        	<meta-data 
        		android:name="android.app.searchable"
				android:resource="@xml/searchable"/>
        </activity>
        
        <activity
            android:name=".activity.LogListActivity"
            android:label="@string/activity_list">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_GET_CONTENT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.kr.perl.android.logviewer.log" />
            </intent-filter>
        </activity>
        
        <activity
        	android:name=".preference.LogPreference"
        	android:label="@string/activity_prefrence">
        	<intent-filter>
        		<action android:name="android.intent.action.ACTION_VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- end of Activities -->

        <!-- Sample Activities -->
        <!-- end of Sample Activities -->
        <meta-data 
        	android:name="android.app.default_searchable"
			android:value=".activity.ViewerActivity" />
    </application>

    <!-- permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- end of permissions -->

    <!-- etc -->
    <support-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="4" />
    <!-- end of etc -->

</manifest> 
