$sans: "PT Sans", "Helvetica Neue", Arial, sans-serif !default;
$serif: "PT Serif", Georgia, Times, "Times New Roman", serif !default;
$mono: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !default;
$heading-font-family: "PT Serif", "Georgia", "Helvetica Neue", Arial, sans-serif !default;

body {
    font: 0.75em $sans, $mono, $serif;
    h1,h2,h3,h4,h5,h6 {
        font-family: $heading-font-family;
        font-weight: bold;
    }
}
